# build and publish to PyPI

name: Publish to PyPI
on:
  release:
    types: [created]

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Build package
        run: |
          python -m pip install -U pip build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
